* {box-sizing: border-box}
body{  
 background-image: url('plane6.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  opacity: 0.9;
}
.content {
  font-size: 42px;
  color :#ffffff;
  font-style:initial;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #472c86;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



/*  all buttons */
button {
  background-color: #149465;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-family: Arial, sans-serif;
}

button:hover {
  opacity:1;
}

/* Extra modify for cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
} 

/*cancelbtn and signupbtn  */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal(backgrnd) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #3b617a;
  padding-top: 50px;
}
/* Modal Content/Box */
.modal-content {
  background-image: url('form2.jpg');
  background-size: cover;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
  opacity: 0.9; 
}

/* horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

